/homecontrol/homecontrol/nbproject/private/
/homecontrol/HomeControlNetbeans/nbproject/private/
/homecontrol/nbproject/private/
/homecontrol/nbproject/project.properties
/homecontrol/nbproject/project.xml
